<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading">
    <mat-card-title>
      Webids
    </mat-card-title>
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Enter email">
      <mat-error *ngIf="">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password">
      <mat-error *ngIf="">Please enter a valid password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
    <button mat-raised-button color="primary" type="submit">Register</button>
  </form>
</mat-card>


