<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-card-title>
      Webids
    </mat-card-title>
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Enter email"
        ngModel
        name="email"
        #emailInput="ngModel"
        required
        email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        ngModel
        name="password"
        #passwordInput="ngModel"
        required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        ngModel
        name="rePassword"
        #rePasswordInput="ngModel"
        required>
    <mat-hint *ngIf="!rePasswordInput.value">Confirm your password</mat-hint>
    </mat-form-field>
    <h3>Personal Information</h3>
    <hr>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="First Name"
        ngModel
        name="name"
        #emailInput="ngModel"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Last Name"
        ngModel
        name="lastname"
        #emailInput="ngModel"
        required>
    </mat-form-field>
    <mat-action-row>
      <i *ngIf="rePasswordInput.value != passwordInput.value">Passwords must match!</i>
      <button mat-raised-button color="primary" type="submit" [disabled]="!isLoading && rePasswordInput.value != passwordInput.value">Register</button>
    </mat-action-row>
  </form>
</mat-card>


