<mat-card>
  <form (submit)="onAddProduct(productForm)" #productForm="ngForm">
    <mat-form-field>
      <input matInput type="text"
        name="title" ngModel>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput type="text"
        name="description" rows="2"
        ngModel placeholder="Full description of this item..."></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text"
        name="price" ngModel>
    </mat-form-field>
    <button mat-raised-button
      color="accent"
      type="submit">Add Product
    </button>
  </form>
</mat-card>
