<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveProduct(productForm)" #productForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text"
        name="title"
        [ngModel]="product?.title"
        required minlength="3"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Enter a Title (min length of 3 characters)</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput type="text"
        name="description" rows="2"
        [ngModel]="product?.description"
        placeholder="Description"
        required minlength="8"
        #description="ngModel">
      </textarea>
      <mat-error *ngIf="description.invalid">Enter a Description (min length of 8 characters)</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text"
        name="price"
        [ngModel]="product?.price"
        required #price="ngModel">
      <mat-error *ngIf="price.invalid">Enter the Product's price</mat-error>
    </mat-form-field>
    <button mat-raised-button
      color="accent"
      type="submit">Add Product
    </button>
  </form>
</mat-card>
